src/
node_modules/
.vscode/
.vscode-test/
.github/
out/
**/*.ts
!dist/**
!dist/**/*.d.ts
**/*.map
**/tsconfig*.json
esbuild.mjs
CLAUDE.md
.eslintrc*
.editorconfig
.gitignore
.gitattributes
.npmrc
package-lock.json
*.vsix
